.btn {
    position: relative;
    outline: none;
    border: none;
    width: 250px;
    height: 80px;
    border-radius: 25px;
    background: black;
    font-size: 20px;
    font-family: inherit;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    background-color: black;
    margin-top: 50px;
  }
  